<header>
  <h1>{{pageTitle}}</h1>
  <p><a href="/">Home</a> <br>
    <a href="/about">About</a><br>
    <a href="/help">Help</a><br>
    <a href="https://github.com/HarshaKy">Github</a>
  </p>
</header>
